{% extends 'GoldenGymApp/base.html' %}

{% block content %}
<div id="ContainerGeneral" class="container mt-5 p-5">
    <h2 class="mb-5">Crear Reporte para: {{ cliente.nombre }} {{ cliente.apellido }}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="fecha">Fecha</label>
            {{ form.fecha }}
        </div>
        <div class="form-group">
            <label for="peso_actual">Peso Actual [KG] :</label>
            {{ form.peso_actual }}
        </div>
        <div class="form-group">
            <label for="altura">Altura [M] :</label>
            {{ form.altura }}
        </div>
        <div class="form-group">
            <label for="press_banca">Press Banca [KG] :</label>
            {{ form.press_banca }}
        </div>
        <div class="form-group">
            <label for="sentadilla">Sentadilla [KG] :</label>
            {{ form.sentadilla }}
        </div>
        <div class="form-group">
            <label for="peso_muerto">Peso Muerto [KG] :</label>
            {{ form.peso_muerto }}
        </div>
        <button type="submit" class="btn btn-success">Guardar Reporte</button>
    </form>

    <a href="{% url 'reportes_cliente' cliente.id %}" class="btn btn-secondary mt-3">Volver a los Reportes</a>
</div>
{% endblock %}
